<h1>Productos en tiempo real</h1>

<form id="productForm">
  <input type="text" name="title" placeholder="Título" required />
  <input type="text" name="description" placeholder="Descripción" required />
  <input type="text" name="code" placeholder="Código" required />
  <input type="number" name="price" placeholder="Precio" required />
  <input type="number" name="stock" placeholder="Stock" required />
  <input type="text" name="category" placeholder="Categoría" required />
  <input type="text" name="thumbnails" placeholder="Imagen (ruta)" required />
  <button type="submit">Agregar producto</button>
</form>

<ul id="productList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>