/* General */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #212529;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
}

/* Navbar */
.navbar {
  margin-bottom: 0;
  background-color: #000;
}
.navbar-brand img {
  height: 40px;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  padding: 20px 0;
}
footer img {
  height: 60px;
  margin-bottom: 10px;
}
footer span {
  font-size: 20px;
  margin: 0 5px;
}

/* Tarjetas */
.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.card-text {
  font-size: 0.95rem;
  color: #333;
}

/* Cards uniformes */
.fixed-card {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Contenedor de imagen */
.card-img-container {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Imagen adaptada sin recorte */
.card-img-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* Botones */
.btn-primary {
  background-color: violet;
  border-color: violet;
}
.btn-primary:hover {
  background-color: turquoise;
  border-color: turquoise;
}

.btn-success {
  background-color: #00b894;
  border-color: #00b894;
}
.btn-success:hover {
  background-color: #019874;
  border-color: #019874;
}

.btn-secondary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-secondary:hover {
  background-color: pink;
  border-color: pink;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  background-color: #a71d2a;
  border-color: #a71d2a;
}

/* Alertas */
.alert {
  margin-top: 20px;
}

/* Tabla del carrito */
.table th,
.table td {
  vertical-align: middle;
}

/* Ajustes generales */
.container {
  max-width: 1200px;
}
h4,
h5 {
  color: #000;
}
